/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Button Styles */
button {
  background-color: cadetblue;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: darkcyan;
}

/* Id Selector */
#uniqueElement {
  color: crimson;
}
/* Class Selector */
.highlight {
  background-color: yellow;
}
/* Element Selector */
p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
/* Grouping Selector */
h1, h2, h3 {
  font-family: 'Arial', sans-serif;
  margin-bottom: 10px;
}
/* Descendant Selector */
nav a {
  text-decoration: none;
  color: navy;
  margin-right: 15px;
}
nav a:hover {
  text-decoration: underline;
}
/* Child Selector */
ul > li {
  list-style-type: square;
  margin-left: 20px;
}
/* Attribute Selector */
input[type="text"] {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}
/* Text Properties */
h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: darkslateblue;
    margin-bottom: 20px;
}
h1, h2, h3 {
  font-family: 'Arial', sans-serif;/*arial has priority over sans-serif because it is written before if browser dont have arial then san will be used*/
  margin-bottom: 10px;
}
p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/*Box Model Properties*/
.container {
  width: 80%;
  margin: 0 auto; /* Center the container */
  padding: 20px 10px 15px 25px; /* Top, Right, Bottom, Left */
  border: 1px dotted #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  border-radius: 40px;
}
body{
    background-color: rgb(2, 166, 172);
}
header, nav, main, footer {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}
